<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This Is Home page
    <%
      for(i of user){%>
         <p style="margin-top: 10px;"><%= i.name %></p>
        
        <%}
    
    %>
</body>
</html>